[Serial]
rate = 115200
port = COM3 # change to the serial port of your computer/ pi



[AMQP]
server =  # IP or hostname of your RabbitMQ server
queue = weather # RabbitMQ queue, leave this or change to whatever you want
exchange = weather # RabbitMQ exchange, leave this or change to whatever you want
user = # RabbitMQ Uername
password = # RabbitMQ password